.action {
  margin: 0 auto;
  max-width: var(--maxw);

  @media screen and (min-width: $medium) {
    margin: 0 auto 109px auto;
  }
}

.action__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $first-color;
  border-radius: 28px;
  margin: 0 auto;
  width: 320px;
  height: 550px;
  padding: 0 30px;

  @media screen and (min-width: $medium) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 41px 0 81px;
  }
}

.action__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 85px 15px 0 15px;

  span {
    font-size: 30px;
    color: $third-color;
    padding-top: 50px;
  }

  p {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
    color: $third-color;
    padding: 22px 0px;
  }

  button {
    font-size: 15px;
    border-radius: 12px;
    width: 150px;
    height: 50px;
    background-color: $third-color;
    border: none;

    a {
      color: $first-color;
    }
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    max-width: 480px;
    padding: 55px 0 0 0;

    span {
      font-size: 46px;
    }

    p {
      font-size: 20px;
      max-width: 90%;
      padding: 22px 0px;
    }

    button {
      font-size: 20px;
      width: 240px;
      height: 72px;
      transition: all 0.3s;

      &:hover {
        background-color: #f6be4a;  
         a {
          color: $third-color;
         }
      }
    }
  }
}

.content__right {
  margin-top: -50px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 350px;

  @media screen and (min-width: $medium) {
    width: 500px;
    height: 500px;
    margin-top: 0;
  }
}