.btn-sing {
  font-size: 20px;
  color: $terciary-color;
  cursor: pointer;
  border-radius: 15px;
  width: 155px;
  height: 58px;
  background-color: $primary-color;
  border: none;
  transition-duration: 0.3s;
}

.btn-sing:hover {
  background-color: $secondary-color;
  transform: scale(1.02);
}