$primary-color: #ff6100;
$secondary-color: #f5c9b0;
$terciary-color: white;
$font-color:  #aea299;
$font-color2:  black; 
$font-color3:  #4c4d4b; 

:root {
  --maxw: 1150px;
}

@media screen and (max-width: 800px){

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  header {
    margin: 0;
    width: 100%;
  }

  .bird{
    display: flex;
    justify-content: center;
    position: absolute;
   margin: 80px 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
  }
} 

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

$limit: 10;
$unit: 10px;
 
