$primary-color: #ff6100;
$secondary-color: #f5c9b0;
$terciary-color: white;
$font-color:  #aea299;
$font-color2:  black; 
$font-color3:  #4c4d4b; 
$font-color4:  #273150;

$small: 767px;
$medium: 845px;
$large: 1000px;


$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

$limit: 10;
$unit: 10px;

:root {
  --maxw: 1150px;
}
 
