$first-color: #ff6100;
$second-color: #f5c9b0;
$third-color: white;
$font-color:  #aea299;
$font-color2:  black; 
$font-color3:  #4c4d4b; 
$font-color4:  #273150;
$font-color5:  #F5894E;

$small: 767px;
$medium: 845px;
$large: 1000px;


$box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);

:root {
  --maxw: 1150px;
  --font1: 'Circular Std', sans-serif;
  --font2: 'Poppins';
  --font3: 'SF Pro Display', sans-serif;
}

