.footer {
  margin: 100px auto 0;
}

.footer__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 50px;
  max-width: var(--maxw);

  @media screen and (min-width: $medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}


.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  p {
    margin: 0;
  }

  @media screen and (min-width: $medium) {
    justify-content: flex-start;
    p {
      margin: 0;
      padding-right: 40px;
    }
  }
}

.masma__img {
  width: 250px;
  height: 44px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 50px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 14px;
    a {
      color: $font-color2;
    }
  }

  @media screen and (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    margin: 0px 150px 0px 0px;
  }
}

.footer__follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
  .redes_sociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 131px;
    height: 18px;
    gap: 24px;
  }
  @media screen and (min-width: $medium) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer__linea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding: 50px 0;
  p {
    margin: 0;
  }
}

.footer__end {
  margin-top: 46px;
  color: $font-color4;
  opacity: 50%;
}