.header {
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 30px 0;
  @media screen and (min-width: $medium) {
    flex-direction: row;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media screen and (min-width: $medium) {
    margin: 0;
  }
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0 30px 0px 0;
  list-style: none;
  @media screen and (min-width: $medium) {
    margin: 0 60px 0 0;
  }
}

.btn-sing {
  font-size: 15px;
  color: $third-color;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 46px;
  background-color: $first-color;
  border: none;
  transition-duration: 0.3s;
  @media screen and (min-width: $medium) {
    width: 155px;
    height: 58px;
    font-size: 20px;
  }
}

.btn-sing:hover {
  background-color: $second-color;
  transform: scale(1.02);
}