.newsletter {
  background-color: $first-color;
  position: relative;
  z-index: 200;
  margin: 100px 0px;

  @media screen and (min-width: $medium) {
    margin: 0px 0px 100px;
  }
}

.newsletter__background {
  display: none;

  @media screen and (min-width: $medium) {
    display: block;
  }
}

.newsletter__nube-3 {
  top: 50%;
  left: 0;
  position: absolute;
  z-index: 10;
}

.newsletter__nube-4 {
  top: 20%;
  right: 0;
  position: absolute;
  z-index: 10;
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: var(--maxw);
  padding: 100px 0px;
  color: $third-color;

  .newsletter__tittle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 15px;
    max-width: 80%;
    line-height: 1.5;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
  }

  @media screen and (min-width: $medium) {
    padding: 140px 0px;

    .newsletter__tittle {
      font-size: 40px;
    }

    p {
      font-size: 20px;
      max-width: 42%;
      margin: 0;
      padding: 20px 0px;
    }
  }
}

::placeholder {
  color: $third-color;
}

.buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  input {
    background: transparent;
    width: 180px;
    height: 55px;
    padding: 0 20px;
    font-size: 18px;
    color: white;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px 0 0 15px;
  }
  button {
    width: 110px;
    height: 55px;
    line-height: 55px;
    border: none;
    background: $third-color;
    text-align: center;
    color: $first-color;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
  }

  @media screen and (min-width: $medium) {
    input {
      width: 0;
      padding: 0;
      border-color: transparent;
      transition: all 0.4s ease;
    }
    button {
      width: 150px;
      border-radius: 15px
    }

    &:hover {
      input {
        width: 360px;
        border-color: $third-color;
        padding: 0 20px;
      }
      button {
        border-radius: 0px 15px 15px 0px;
      }
    }
  }
}
