.pricing {
  margin: 0 auto;
  max-width: var(--maxw);
  padding: 150px 0px;
  @media screen and (min-width: $medium) {
    padding: 200px 0px;
    position: relative;
    z-index: 200;
  }
}

.pricing__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;

  @media screen and (min-width: $medium) {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.pricing__cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: $medium) {
    flex-direction: row;
  }
}

.card__item {
  width: 250px;
  height: 460px;
  background-color: $terciary-color;
  box-shadow: 0 12px 30px 0 hsl(180deg 11% 4% / 8%);
  border-radius: 12px;

    &.card__item--orange {
      background-color: orangered;
      width: 250px;
      height: 560px;
      color: white;
    }


  @media screen and (min-width: $medium) {
    width: 359px;
    height: 568px;

    &.card__item--orange {
      width: 359px;
      height: 644px;
    }
  }
}

.card__item-info-1,
.card__item-info-2,
.card__item-info-3 {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }

  div {
    font-size: 40px;
    font-weight: bold;
    padding: 36px 0px 0px;
  }


  .card__span_white{
    color: $font-color5;
  }
  
  .card__span_white,
  .card__span_orange {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0px 0px;

    .card__itemSpan1 {
      font-size: 20px;
    }

    .card__itemSpan2{
      font-size: 50px;
    }

    .card__itemSpan3 {
      font-size: 10px;
    }
  }

  p {
    padding: 19px 0px 0px;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    max-width: 80%;
    margin: 0;
  }

  @media screen and (min-width: $medium) {
    padding: 70px 0px;
    img {
      width: 119px;
      height: 119px;
    }
  
    div {
      font-size: 50px;
    }

  
      .span_1 {
        font-size: 30px;
      }
  
      .span_2 {
        font-size: 60px;
      }
  
      .span_3 {
        font-size: 14px;
      }
  
  
    p {
      font-size: 20px;
    }
  }

}

