.pricing {
  margin: 0 auto;
  max-width: var(--maxw);
  margin: 100px auto;

  @media screen and (min-width: $medium) {
    margin: 150px auto;
    position: relative;
    z-index: 200;
  }
}

.pricing__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 50px 0;

  @media screen and (min-width: $medium) {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.pricing__cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: $medium) {
    flex-direction: row;
  }
}

.card__item {
  width: 250px;
  height: 460px;
  background-color: $third-color;
  box-shadow: 0 12px 30px 0 rgba(9, 11, 11, 0.08);
  border-radius: 12px;

  &.card__item--orange {
    background-color: $first-color;
    width: 250px;
    height: 560px;
    color: white;
  }

  @media screen and (min-width: $medium) {
    width: 359px;
    height: 568px;

    &.card__item--orange {
      width: 359px;
      height: 644px;
    }
  }
}

.card__item-info {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }

  h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 36px 0px 0px;
  }


  .card__price {
    font-family: var(--font3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0px 0px;
    color: $font-color5;

    .card__priceSymbol {
      font-size: 20px;
    }

    .card__priceNumber {
      font-size: 50px;
    }

    .card__priceMonth {
      font-size: 10px;
    }
  }

  .card__price--orange {
    color: $third-color;
  }

  .card_text {
    padding: 19px 0px 0px;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    max-width: 80%;
    margin: 0;
  }

  @media screen and (min-width: $medium) {
    padding: 70px 0px;

    img {
      width: 119px;
      height: 119px;
    }

    h3 {
      font-size: 50px;
    }

    .card__priceSymbol {
      font-size: 30px;
    }

    .card__priceNumber {
      font-size: 60px;
    }

    .card__priceMonth {
      font-size: 14px;
    }

    .card_text {
      font-size: 20px;
    }
  }

}