a {
  color: $font-color;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: $primary-color;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-family: 'Poppins';
  font-family: 'Circular Std', sans-serif;
}

img {
  max-width: 100%;
}

