.testimonials {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  margin: 117px auto;
}


.testimonials__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;

  @media screen and (min-width: $medium) {
    font-size: 50px;
  }
}

.testimonials__content {
  max-width: var(--maxw);
  box-shadow: 0 12px 30px 0 hsl(180deg 11% 4% / 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  height: 450px;
  background: $third-color;
  border-radius: 24px;

  @media screen and (min-width: $medium) {
    width: 769px;
    height: 338px;
    border-radius: 24px;
    position: relative;
    z-index: 200;
    
  }
}

.testimonials__parrafo {
  color: $font-color4;
  max-width: 80%;
  line-height: 1.5;

  p {
    text-align: center;
    margin: 0;
    padding: 30px 0px;
  }

  @media screen and (min-width: $medium) {
    max-width: 70%;
    p {
      text-align: center;
      margin: 0;
      padding: 30px 0px;
    }
  }
}

.testimonials__perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $medium) {
    display: flex;
   justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
  }
}

.testimonials__info {
  text-align: center;
  padding: 10px 0px 0px 0px;

  .info__name {
    font-weight: 600;
  }

  .info__client {
    font-family: var(--font2);
    color: $font-color3;
  }
  @media screen and (min-width: $medium) {
    text-align: left;
  }
}

.testimonials__background {
  display: none;

  @media screen and (min-width: $medium) {
    display: block;
    .testimonials__nube-1 {
      position: absolute;
      z-index: 50;
      left: 0;
      top: 10%;
      opacity: 0.4; 
      width: 500px;
      height: 500px;
    }
    
    .testimonials__nube-2 {
      position: absolute;
      z-index: 50;
      transform: scaleX(-1);
      right: 0;
      top: 10%;
      opacity: 0.4;
      width: 500px;
      height: 500px;
    }
    
  
  }
}

